
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.page {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-content {
  width: 100%;
  max-width: 1400px;
  padding: 2.5rem 2rem;
}
